  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff6b81, #ffb3c1);
    overflow: hidden;
    font-family: "Loved by the King", cursive;
}

.container {
    width: 50%;
    
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    padding: 50px 60px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 60px;
    color: white;
    margin-bottom: 30px;
}

.buttons {
    margin-top: 30px;
    position: relative;
}

.heart-icon {
    width: 180px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.yes-button, .no-button {
    padding: 15px 30px;
    font-size: 24px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin: 0 15px;
    transition: all 0.3s ease;
    font-weight: bold;

}

.yes-button {
    background: white;
    color: #ff4d6d;
}

.yes-button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.no-button {
    background: #ff4d6d;
    color: white;
    position: relative;
}

.no-button:hover {
    transform: scale(1.1);
}


.heart {
    position: fixed;
    bottom: -20px;
    font-size: 24px;
    animation: floatUp 3s linear forwards;
    pointer-events: none;
}

@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh) scale(1.5);
        opacity: 0;
    }
}
